.card {
  width: 300px;
  position: relative;
  min-height: 400px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px var(--border-color) solid;
  background: var(--card-background);
  padding: 10px;
  &-img {
    width: 280px;
    height: 280px;
    display: none;
    &.loaded {
      display: block;
    }
  }
  &-name {
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 24px;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--text-color);
    font-size: 13px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    text-transform: capitalize;
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
  &-description {
    border-radius: 5px;
    padding: 4px;
    text-shadow: 2px 1px 1px var(--text-shadow);
    &.grass {
      background-color: green;
    }
    &.poison {
      background-color: orange;
    }
    &.fire {
      background-color: red;
    }
    &.flying {
      background-color: lightblue;
    }
    &.water {
      background-color: rgb(101, 101, 209);
    }
    &.bug {
      background-color: rgb(87, 55, 26);
    }
    &.normal {
      background-color: white;
    }
    &.dragon {
      background-color: rgb(255, 94, 0);
    }
    &.electric {
      background-color: #b4b4b4;
    }
    &.ground {
      background-color: #553f23;
    }
    &.fairy {
      background-color: #eb93d5cb;
    }
    &.fighting {
      background-color: #000000;
    }
    &.psychic {
      background-color: #8a9173;
    }
    &.rock {
      background-color: #4b4e42;
    }
    &.steel {
      background-color: #777777;
    }
    &.ice {
      background-color: rgb(187, 187, 243);
    }
  }
  &-img-container {
    position: relative;
    width: 280px;
    height: 280px;
    background: var(--img-color);
    border-radius: 10px;
  }

  &-loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--color-loader);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &-close {
    background: url(../../assets/close.png) no-repeat center/cover;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
