.left-buttons {
  display: flex;
  gap: 10px;
  .button {
    background-color: var(--background-btn-color);
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    &[disabled] {
      cursor: initial;
    }
    &.disabled {
      cursor: inherit;
      background-color: var(--background-btn-disabled);
    }
  }
}
