* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 1.5px;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b6b5b5bd;
  }
  &::-webkit-scrollbar-track {
    border-radius: 4px #a09f9f21;
  }
}

.app {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  height: 100vh;
  background: var(--background-color);
  --background-color: #ffffff;
  --background-btn-color: #ecb651;
  --background-btn-disabled: #a58c67;
  --text-color: #000000;
  --text-shadow: #dbdbdb;
  --card-background: rgba(194, 194, 194, 0.575);
  --border-color: rgba(146, 144, 144, 0.795);
  --img-color: rgba(255, 255, 255, 0.774);
  --color-loader: #3f3e3e;
  --link-active: #ecb651af;
  --header-color: #e9e9e9cc;
  --left-panel: #fcfcfc;
  &.dark {
    --background-color: #ced6e3;
    --background-btn-color: #081c5e;
    --background-btn-disabled: #161d35;
    --text-color: #ced6e3;
    --text-shadow: #000000;
    --card-background: #161d2b;
    --border-color: #000000;
    --img-color: #ced6e3;
    --color-loader: #d1d1d1;
    --link-active: rgba(167, 161, 185, 0.329);
    --header-color: #161d2b;
    --left-panel: #1d2746;
  }
}

.left-panel {
  min-height: 100vh;
  background: var(--left-panel);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-panel {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
